{% extends 'layout.html' %}
{% block contentclass %}{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Arseniy Pavlenko <small>( h0x91B )</small></h1>
</div>
	<span class="thumb pull-left">
		<img src="/img/arseniy-pavlenko.jpg" alt="Arseniy Pavlenko Redis-V8 author" width="200" height="200">
	</span>
<p>
	Hi, my name is Arseny Pavlenko, I'm doing all sorts of web development for 10 years. I love redis, apple, javascript, and everything is new. If you have any questions, feel free to contact me.
</p>
<p>
	<a href="http://www.linkedin.com/in/h0x91b" target="_blank" class="link_icon">
		<img src="/img/linkedin.png" alt="Arseny Pavlenko Linkedin profile">
	</a>
	<a href="https://plus.google.com/110623378525908434476/" class="link_icon" target="_blank">
		<img src="/img/google.png" alt="Arseny Pavlenko Google Pluse profile">
	</a>
	E-Mail: <a href="mailto:h0x91b@gmail.com" target="_blank">h0x91b@gmail.com</a>
</p>
<div class="clear"></div>
<div class="row components">
	<div class="center">
		<a class="twitter-timeline" href="https://twitter.com/search?q=%23redis-v8" data-widget-id="346014366677729280">Tweets about "#redis-v8"</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
{% endblock %}