{% extends 'layout.html' %}
{% block contentclass %}{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Arseniy Pavlenko <small>h0x91B</small></h1>
</div>
	<span class="thumb pull-left">
		<img src="/img/arseniy-pavlenko.jpg" alt="Arseniy Pavlenko Redis-V8 author" width="200" height="200">
	</span>
<p>
	Hi, my name is Arseny Pavlenko, I'm doing all sorts of web development for 10 years. I love redis, apple, javascript, and almost every new technology. If you have any questions, feel free to contact me.
</p>
<p>
	<a href="http://www.linkedin.com/in/h0x91b" target="_blank" class="link_icon">
		<img src="/img/linkedin.png" alt="Arseny Pavlenko Linkedin profile">
	</a>
	E-Mail: <a href="mailto:h0x91b@gmail.com" target="_blank">h0x91b@gmail.com</a>
</p>
<p>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<g:plus href="https://plus.google.com/114276860133414291711"></g:plus>
</p>
<div class="clear"></div>
{% endblock %}